<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - Travels</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">Lista de Viagens</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">

  <div class="w3-container w3-teal">
    <h1>Olá, Vamos viajar??</h1>
  </div>

  <div class="w3-display-container">
    <img src="images/MontBlanc.jpg" alt="chamonix" class="w3-opacity-min" style="width:100%">
    <div class="w3-display-topmiddle w3-container">
      <% if (viagens.length > 0) { %>
        <h2>Escolha uma viagem:</h2>
          <div id="buttons-container" class="w3-center">
            <% viagens.forEach(function(viagem) { %>
              <a href="/viagem/<%= viagem._id %>" class="w3-button w3-round-xxlarge w3-black" style="display: block; margin-bottom: 10px;"><%= viagem.name %></a>
            <% }); %>
          </div>
      <% } else { %>
        <h2>Crie a sua primeira viagem.</h2>
      <% } %>
      <div class="w3-center" style="margin-top: 20px;">
        <a href="/create-task"><button class="w3-button w3-xlarge w3-circle w3-black">+</button></a>
      </div>
    </div>
  </div>

</div>

</body>
</html>

